<%= form_for @question, :html => { :class => "form-horizontal question" } do |f| %>

        <h5>title</h5>
      <%= f.text_field :title, :class => 'form-control' %>
        <h5>content</h5>
      <%= f.text_area :content, :size => "20x10", :class => 'form-control' %>
      <%= f.submit nil, :class => 'btn btn-primary' %>

<% end %>


